<h1>{{ post.title }}</h1>
{{ knp_menu_render('Main') }}
<p>{{ post.content|raw }}</p>
<h2>Our Blog Posts</h2>
<ul>
    {% for post in posts %}
        <li><a href="{{ path(post) }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
